@import '../../../styles.scss';

.card {
    background-color: $light-blue2;
    color: rgb(51, 28, 94);

    .row {
        margin-top: 10px;
        display: flex;

        input, button {
            background-color: $light-blue;
            
        }
        input {
            margin-right: 5px;
        }
    }
    
    .upper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            text-align: center;
            font-size: 2.5em;
            font-weight: bolder;
        }
        img {
            margin-top: 1.5rem;
            width: 100px;
            height: 100px;
            mix-blend-mode: multiply;
        }
    }
    hr {
        margin: 0;
    }
    .card-body {
        font-size: 0.9em;
        
        .inner-body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .card-text {
                padding: 5px;
                width: 50%;
                font-weight: bold;
               
            }

        
        }

        .card-title {
            text-align: center;
            margin-bottom: 1rem
        }
        .card-title, a{
           font-size: 0.9em;
           
        }
    }
    
}