<div class="card" style="width: 18rem;" >
    <div class="upper">
      <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="input-group">
                <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="Nádudvar" id="example-search-input">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary border-bottom-0 border rounded-pill ms-n5" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
        <img class="card-img-top" src="../../../assets/icons8-rain.gif" alt="Card image cap">
        <p>37°C</p>
    </div>
    <hr>
    <div class="card-body">
      <h5 class="card-title">Additional information</h5>
      <div class="inner-body" >
        <p class="card-text">Max. temp.: 30°C</p>
        <p class="card-text">Min. temp.: 27°C</p>
        <p class="card-text">Humidity: 5% </p>
        <p class="card-text">Wind: 20km/h </p>

        <p class="card-text" *ngIf="!show">Macska</p>
        <p class="card-text" *ngIf="!show">Kutya</p>
        <p class="card-text" *ngIf="!show">Cica</p>
        <p class="card-text" *ngIf="!show">Blöki</p>      
      </div>
      <span (click)="seeMore()"><a href="#">{{linkText}} </a></span>
    </div>
  </div>